body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #FFFAED;
  -webkit-font-smoothing: antialiased;
  font-family: 'Karla';
  letter-spacing: -0.5px;
}

.titleContainer {
    width: 100px;
    padding-right: 0;

    h1{
        font-size: 84px;
    }
    
    a{
        text-decoration: none;
    }
}

.locationContainer{
    text-align: right;
    margin-top: -71px;
    margin-right: 1.5vw;
}