/*
 * Name: index.css
 * Description: CSS file containing base stylings for all HTML pages.
 * Sets standard for font usage.
 */

body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #FFFAED;
  -webkit-font-smoothing: antialiased;
  font-family: 'Karla';
  letter-spacing: -0.5px;
}

@font-face {
    font-family: 'Aqua Grotesque';
    src: url('../fonts/aqua-webfont.woff2') format('woff2'),
         url('../fonts/aqua-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  color: #5D5551;
}

h1 {
  font-family: 'Aqua Grotesque';
  text-transform: lowercase;
  font-size: 42px;
}

p {
  font-size: 16px;
}

.caps {
  text-transform: uppercase;
  letter-spacing: 0.8px;
  font-size: 12px;
}

.main-form {
  margin-top: 25vh;
}

.main-form h2 {
  color: white;
}

.spinner-container {
  padding-top: 10px;
  color: #FEA765;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #cccccc;
}

.slidecontainer {
  width: 100%; /* Width of the outside container */
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

/* The slider itself */
.slider {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  width: 60%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 35px; /* Set a specific slider handle width */
  height: 35px; /* Slider handle height */
  border: 1px solid #b5b5b5;
  border-radius: 50%;
  background: #b5b5b5; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 35px; /* Set a specific slider handle width */
  height: 35px; /* Slider handle height */
  border: 1px solid #b5b5b5;
  border-radius: 50%;
  background: #b5b5b5; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider-label {
  margin: 5px;
}

.map-element {
  height: 80vh;
  min-height: 300px;
  width: 100%;
  min-width: 300px;
}

.leaflet-container {
  z-index: 0;
}

.listings-container {
  height: 65vh;
  overflow-y: scroll;
}
